$BLUE:           #003ca2;
$DARK_BLUE:      #003074;
$LIGHT_GREY:     #bbbbbb;
$DARK_GREY:      #616265;
$DARK_RED:       #6a282a;
$YELLOW_ORANGE:  #dbaa18;
$YELLOW:         #f3db51;
$BLACK:          #23282e;
$WHITE:          #ffffff;

$PADDING: 7px;

html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: $DARK_BLUE;
  color: $LIGHT_GREY;
}

footer {
  background-color: $DARK_BLUE;
}

main {
  display: flex;
  
  nav {
    width: 200px;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.inline {
  display: inline-block;
}

.x1 { flex: 1; }
.x2 { flex: 2; }
.x3 { flex: 3; }
.x4 { flex: 4; }

.left {
  justify-content: flex-start;
  text-align: left;
}

.center {
  justify-content: center;
  text-align: center;
}

.right {
  justify-content: flex-end;
  text-align: right;
}

.top {
  align-items: flex-start;
  vertical-align: top;
}

.middle {
  align-items: center;
  vertical-align: middle;
}

.bottom {
  align-items: flex-end;
  vertical-align: bottom;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

img.arrow {
  content: url('/img/icon_small_arrow-right.png');
}

.sub-section a {
  display: block;
}
